#root {
  max-width: 2500px;
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
}

.Clock {
  font-size: 6rem;
}

.Countdown {
  font-size: 4rem;
}

.BellSystemPage {
  display: flex;
  flex-direction: column;
}

.bellSystemButtonOff {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 6rem;
  width: 6rem;
  background-color: red;
  border-radius: 50%;
}

.bellSystemButtonOn {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 6rem;
  width: 6rem;
  background-color: green;
  border-radius: 50%;
  border-radius: 50%;
}

.SettingsPage {
  place-items: start;
  text-align: left;
  display: flex;
  width: 95vw;
  min-height: 90vh;
}

.Sidebar {
  background-color: rgb(73, 73, 73);
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  min-width: 120px;
  width: 20%;
  height: 90vh;
  margin: .5rem;
}

.Sidebar > li {
  text-align: center;
  list-style-type: none;
}

.Settings {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: .5rem;
}

.SettingsSection {
  margin: .5rem;
  display: flex;
  flex-flow: column wrap;
  min-width: 400px;
  max-width: 500px;
  width: fit-content;
}

.SettingsList {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
}

.SettingsList > li {
  padding: .5rem;
  list-style-type: none;
}

.SettingsSection > h1 {
  text-align: center;
}